body {

}
.wrapper {
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #121212, #282828);
  overflow: hidden;
}

h1 {
  color: #fafafa;
  text-align: center;
  span {
    display: block;
    color: darken(white, 20%);
    font-size: 14px;
    font-style: italic;
    height: 14px;
  }
}

.noteForm {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;

  textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #584c4c;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
  }

  button {
    width: 100%;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    &:hover {
      background-color: violet;
      color: #fff;
    }
  }

}


.note {
  position: absolute;
  display: block;
  cursor: pointer;
  background-image: url(./note-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 100px;
  left: 100px;
  height: 200px;
  width: 200px;
  padding: 40px;
  margin: 0.5em;
}
.text {
  width: 100%;
  height: 75%;
  margin: 1rem 1rem 2rem 1rem;
  color: #fff;
  white-space: pre-wrap;
  line-break: auto;
  overflow-y: auto;
}
section {
  position: relative;
  width: 100vw;
  height: 100%;
  margin-top: 1rem;
}

.delete {
  position: absolute;
  top: 10;
  right: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282828;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 800;
  &:hover {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
    transform: scale(1.1);
  }
  
}
